@page
@model RegisterModel
@{
    ViewData["Title"] = "Kayıt Ol";
}


<div class="row">
    <div class="col-md-4 mx-auto">
        <h1>@ViewData["Title"]</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Yeni Hesap oluşturun.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Ad" class="form-control" autocomplete="name" aria-required="true" placeholder="Ahmet" />
                <label asp-for="Input.Ad">Ad</label>
                <span asp-validation-for="Input.Ad" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Soyad" class="form-control" autocomplete="surname" aria-required="true" placeholder="Şanslı" />
                <label asp-for="Input.Soyad">Soyad</label>
                <span asp-validation-for="Input.Soyad" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="ad@domain.com" />
                <label asp-for="Input.Email">E-posta</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="şifre" />
                <label asp-for="Input.Password">Şifre</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="şifre" />
                <label asp-for="Input.ConfirmPassword">Şifre Onay</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn btn-primary">Kayıt Ol</button>
        </form>
        <div>
            <p class="mt-3">
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Hesabınız var mı? Giriş yapın.</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
